<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IMAGES</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
{% for image in imagenes %}
    {% load static %}
    <img src={% static image %}/>
{% endfor %}
<br>
<br>

{{ info }}

<br>
<br>
<a class="btn btn-primary" href="{% url 'home' %}">VOLVER</a>

</body>
</html>